label {
  display: inline-block;
  margin: 10px;
  width: 21%;
}

input[type='text'],
input[type='number'],
select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.action {
  text-align: center;
}

.ingredient-container {
  display: flex;
}

.ingredient-in {
  width: 40%;
}

form ul,
td ul {
  background-color: rgba(230, 250, 220, 0.8);
}

form li {
  display: block;
}

.delete {
  width: auto;
  height: auto;
  background-color: rgb(231, 156, 156);
}

.delete:hover {
  background-color: red;
}

form button,
.valid-btn {
  width: 20%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
